#gallery{
    margin: auto;
}
img{
    border:none;
    width: 300px;
    height: 300px;
}

#add{
   background-color: hotpink;
    width: 300px;
    height: 300px;
}
a{
    text-decoration: none;
    margin-left: 60px; 
    line-height: 275px;
    color: indigo;
    font-size: 25px;
}
#gallery td{
    margin-left:10px;
    margin-top:10px;
}

